html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #E5E5E5;

}
/* main_conteiner  */
.main_conteiner {
	margin: 0 auto;
	width: 1366px;
	height: 3050px;
	background: #FFFFFF;
}
/* Голова  */
.header_main_conteiner 
{   
	padding: 89px 467px 86px 466px;
	width: 433px;
	height: 331px;
}
.header_main_photo {
    padding: 0 150px 45px 153px;
}
.header_titile{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 145%;
	text-align: center;
	color:#000000;
	padding: 0 8px 5px 12px;
}

.header_text {
padding: 0 0 7px 0;
font-style: normal;
font-weight: 500px;
font-size: 13px;
line-height: 150%;
color: #7E7E7E;
text-align: center;
}
.headre_date_text {
padding: 0 0 0 0;
text-align: center;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 150%;
text-align: center;
color: #7E7E7E;
}
.headre_period_date {
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 150%;
color: #000;
}
/* Первый слайдер */
	.sliders {
		width: 428px;
		margin: auto;
		padding-top: 40.29px;
		margin-bottom: 100px;
		}
		.sliders .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 140px;
	
	}
	.sliders .slick-dots li{
	 list-style: none;
	 margin: 0px 5px;
	}
	.sliders .slick-dots li.slick-active button {
		background: #C07CF8;
		border: solid #C07CF8;
	}
	.sliders .slick-dots button{
		font-size:0;
		width: 39.85px;
		height: 5.58px;;
		background:#E5E5E5;
		border: solid #E5E5E5;
	}
	.slick-dots {
		display: flex; 
		position: absolute; 
		top: 10px;
		margin: auto;
		margin-left: 100px;
		text-align: center;
	}
	/* Основная информация */
	.wraper {
		display: flex;
		width: 1119px;
        height: 509px;
	}
	.table_title {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 145%;
	text-align: center;
	color: #000000;
	}
	.main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 1119px;
        height: 509px;
		margin: 0 132px 0 115px;
		}
		.container {
		display: flex;
		flex-wrap: wrap;
		margin: 0 132px 0 115px;
		}
		
		.box {
		display: flex;
		}
		.containet_title {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 145%;
		text-align: center;
        width: 413px;
		margin: 0 477px 0 476px;
		}
		.box_date_1 {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 145%;	
		padding: 51px 0 0 12px;
		} 
		.box_mounth_1{
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 145%;
		padding: 0 0 0 21px;
	}
	.box_titile_1 {
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 150%;
		padding: 57px 0 0 40px;
	
	}
	.box_list_1 {
		position: absolute;
		width: 378px;
		height: 174px;
		padding: 84px 0 0 147px;
	}
	.list_text {
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 150%;
		color: #7E7E7E;
	}
	.tech-skills-item {
		list-style-type:disc;
		color: #C07CF8;
		font-size: 20px;
	}
	.box_date_2 {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 145%;	
		padding: 51px 0 0 154px;
		} 
		.box_mounth_2{
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 145%;
		padding: 0  0 0 172px;
	}

	.box_titile_2 {
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 150%;
		padding: 57px 0 0 22px;
	
	}
	.box_list_2 {
		position: absolute;
		width: 408px;
        height: 184px;
		padding: 84px 0 0 292px;
	}
	.box_date_3 {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 145%;	
	    padding: 211px 0 0 0;
		} 
		.box_mounth_3{
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 145%;
		padding: 0 0 0 21px;
	}
	.box_titile_3 {
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 150%;
		padding: 217px 0 0 27px;
	}
	.box_list_3 {
		position: absolute;
		width: 378px;
        height: 149px;
		padding: 243px 0 0 147px;
	}
	.box_date_4 {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 145%;	
	    padding: 211px 0 0 390px;
		} 
		.box_mounth_4{
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 145%;
		padding: 0 0 0 387px;
	}
	.box_titile_4{
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 150%;
		padding: 217px 0 0 35px;
	}
	.box_list_4{
		position: absolute;
		width: 378px;
        height: 149px;
		padding: 243px 0 0 493px;
	}
	.elips {
		position: absolute;
		margin: 63px 0 0 308px;
		width: 324px;
        height: 324px;
		border-radius: 50%;
		background: rgba(192, 124, 248, 0.1);
	}
	.elips2 { 
		position: absolute;
		margin: 17px 0 0 744px;
		width: 642px;
		height: 642px;
		border-radius: 50%;
		background: rgba(192, 124, 248, 0.1);
	}
      /* Блок партнеров */
	.partners {
		width: 1194.58px;
        height: 121px;
		margin: 80px 83.42px 0 88px;
	}
	.partners_title {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 145%;
		text-align: center;
		color: #000000;
		}
		.partners_photo{
			padding: 45px 64px 0 0;
			height: 36px;
		}
/* Стили  2 слайдера  */
.slid_container {
	padding: 195px 48px 0 48px;
}
.second_sliders {
	position: absolute;
	padding: 99px 0 0 83px;
	width: 1269.5px;
  	height: 606px;
}
.second_sliders_title {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 145%;
	text-align: center;
	color: #000000;
	padding: 0 0 30px 0;
}
.slider_titel_items {
	font-style: normal;
 	font-weight: bold;
	font-size: 13px;
	line-height: 145%;
	color: black;
}
.slider_title_photo{
	position: absolute;

}
.text_photo {
	position: absolute;
	padding: 257px 0 38px 22px ;
	width: 158px;
    height: 19px;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 145%;
    color: #FFFFFF;
	}
	.text_photo_second {
		position: absolute;
		padding: 276px 0 38px 22px ;
		width: 158px;
		height: 19px;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 145%;
		color: #FFFFFF;
	}
.last_text_photo {
	position: absolute;
	padding: 276px 0 38px 22px ;
	width: 158px;
    height: 19px;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 145%;
    color: #FFFFFF;
}
	.container_icons{
		display: flex;
		align-items: center;
		flex-direction: row;
		padding: 329px 0 0 18px;
	}
	.iconcs {
	padding: 4px;
	  }
	  .slider_block_text_1 {
		width: 295px;
		height: 121px;
		padding: 0 0 0 21px;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 150%;
		color: #7E7E7E;
	  }
	  .slider_block_text_2 {
		width: 295px;
		height: 142px;
		padding: 0 0 0 21px;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 150%;
		color: #7E7E7E; 
	  }
    .slider_block_text_3 {
		width: 295px;
		height: 107px;
		padding: 0 0 0 21px;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 150%;
		color: #7E7E7E; 
	}
/* точки  2 слайдера  */
.second_sliders .slick-dots {
	display: flex; 
	position: absolute;
	padding-left:340px;
}
	.second_sliders .slick-dots li{
	 list-style: none;
	 margin: 0px 5px;
	 padding-left: 10px;
	}
	.second_sliders .slick-dots li.slick-active button {
		background: #C07CF8;
		border: solid #C07CF8;
	}
	.second_sliders .slick-dots button{
	   font-size: 0;
		width: 50px;
		height: 7px;
		padding: 0px 4px;
		background:#E5E5E5;
		border: solid #E5E5E5;
	}
	.second_sliders .slick-track {
		display: flex;
	}
	.second_sliders .slick-list {
		overflow: hidden;
	
	}
	/* Cтрелки   2 слайдера  */
	.second_sliders .slick-arrow {
		position: absolute;
		top: 35%;
		font-size: 0;
		width: 45px;
		height: 70px;
	}
	.second_sliders .slick-arrow.slick-prev{
		left: 0;
		background: url(image/Vector\_3.png) 0 0 / 100% no-repeat;
	}
	.second_sliders .slick-arrow.slick-next{
	right: 0;
	background: url(image/Vector\_4.png) 0 0 / 100% no-repeat;
	}
	/* Подвал сайта */
footer{
		width: 1366px;
		height: 223px;	
		background: #F1F1F1;
		margin: 62px 0 0 0;
}
.footer_photo {
	position: absolute;
	padding: 31px 615px 0  621px;
	
}
.footer_block_info {
	display: flex;

}
.footer_info_text {
	position: absolute;
	width: 241px;
    height: 108px;
	padding: 24px 0 60px 132px;
}
.footer_info_messenger {
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 145%;
	color: #C07CF8;
	padding-top: 4px;
}
.footer_info_name{
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 145%;
	color: #000000;
	padding-top: 2px;
	}
.footer_info_name_profession {
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 145%;
	color: #7E7E7E;
	padding-top: 4px;
}
.footer_info_polit{
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 145%;
	color: #C07CF8;
	padding: 138px 0 0 132px;
}
.footer_info_more{
	position: absolute;
	width: 209px;
	height: 93px;
	padding: 24px 132px 0 1025px;
}
.inst_partners {
	padding:0 0 9px 0 ;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 145%;
	color: #000000
}
.brend_partners {
	padding:0 0 3px 0 ;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 150%;
	color: #C07CF8;
}
